body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' sans-serif;
    color: #282828;
}

/*
Challenge:
1. Get this layout looking like the 
   screenshots on the slide.
*/  

header {
    background-color: #282828;
    color: whitesmoke;
}
.logo {
    font-size: 18px;
    font-weight: 700;
}
.icon {
    width: 25px;
}
ul  {
    list-style-type: none;
    align-items: center;
    margin:0;
    padding: 25px;
    display: flex;
    gap: 10px;
}
li {
    cursor:pointer;
}
.align-right {
    margin-left:auto
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.item-img {
    width: 100%;
}
.caption {
    margin: 0 25px;
}