body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' sans-serif;
    color: #282828;
}

header {
    background-color: #282828;
    color: whitesmoke;
}
.logo {
    font-size: 18px;
    font-weight: 700;
}
.icon {
    width: 25px;
}
ul  {
    list-style-type: none;
    align-items: center;
    margin:0;
    padding: 25px;
    display: flex;
    gap: 10px;
}
li {
    cursor:pointer;
}
.align-right {
    margin-left:auto
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.item-img {
    width: 100%;
    /* vertical-align: bottom; */
    display: block;
}
.caption {
    margin: 0 25px;
    display: flex;
    gap:20px;
    justify-content: space-between;
}

.item {
    position:relative;
}

.img-banner {
    position: absolute;
    top:0;
    left:0;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
}

button {
    border: none;
    background-color: #cd6858;
    padding: 10px 15px;
    color: whitesmoke;
    cursor: pointer;
    align-self: center; /**stretch by default*/
}